block foot
footer
    p
        | Proudly published with
        a(href='https://prismic.io', target='_blank') prismic.io
        br
        a(href='https://prismic.io', target='_blank')
            img.image(src='./bedroom.png')