extends layout
block content

  h1= title
  p Welcome to #{title}
  p Check it to turn light on/off

  label button
  input(
  id='light-1'
  type='checkbox'
  checked
  )
  div
    img(src='/images/bedroom.png' width='90' atl='bed' )



