extends layout
block content

  label button
  input(
  id='light-1'
  type='checkbox'

  checked
  )
  section.grid-1
    div.item-1
      a(href='/livingRoom.html')
        img(src='/images/b1.png' width='100' atl='bed' )
    div.item-2
      a(href='/extends/kitchen.html')
        img(src='/images/l.png' width='100' atl='bed' )
    div.item-3
      a(href='/extends/babyRoom.html')
        img(src='/images/t.png' width='100' atl='bed' )
    div.item-4
      a(href='/extends/bedroom.html')
        img(src='/images/k.png' width='100' atl='bed' )
    div.item-5
      a(href='/extends/toilet.html')
        img(src='images/o.png' width='100' atl='bed' )
    div.item-6
      a(href='/extends/office.html')
        img(src='/images/b2.png' width='100' atl='bed' )


