doctype html
html
head

  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Smart House

  script(src='https://code.jquery.com/jquery-1.11.1.js')

  //local css
  link(rel='stylesheet', href='/stylesheets/style.css')

  //general bootstrapcdn to make the button work
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
  //button toggle using bootstrap
  link(rel='stylesheet', href='https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css')
  script(src='https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js')

  //Mobile Design  (Navigator and menu)
  link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3pro.css')
  link(rel='stylesheet', href='https://www.w3schools.com/lib/w3-theme-teal.css')
  link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
  link(rel='stylesheet', href='https://www.w3schools.com/lib/w3-theme-black.css')


body

  include navbar
    // my content is inserted here
  block content
  include extends/scripts
  include footer