body { background: #c3bb0e !important; }

.grid-1 {
    padding-top: 40px;
    display: grid;
    width: 75%;
    max-width: 550px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}