block scripts

//watching if input is checked in by user
script(src='/javascripts/appFrontEnd.js')
    //import io to front js
script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
//script(src='https://cdn.socket.io/socket.io-1.2.0.js')